html, body{
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}


::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}
body{
    font-size: 16px;
    min-width: 320px;
    
    line-height: 1.65;

    opacity: 1;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


section{
    padding-top: 2%;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 100px;
}


header
{
    height:  100px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    box-shadow: 15px 0px 30px 10px rgba(0, 0, 0, .5);
    width: 100%;
    
    
}


.logo-container{
    display: flex;
    vertical-align: center;
}


.logo-container .logo{
    color: #e68dba;
}

.logo-container a:visited{
    color: #e68dba;
}

header .logo-container img{
    width: 20%;
    height: 20%;
    
}




header .mnu-top{
    list-style-type: none;
    margin-right: 5%;
}

header .mnu-top li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;

    
}


header .mnu-top li a:visited, header .mnu-top li a:link,
header .mnu-top li a:link
{
    color: #e68dba

   
}


header .mnu-top li a{
    display: block;
}

.content-container img{
    width: 256px;
    height: 256px;
}


.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-left: auto;
    margin-right: auto;
    
}

section .text-container{
    width: 40%;
    font-size: 20px;
}










.content-container3 img{
    width: 256px;
    height: 256px;
}

.content-container3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}





section .text-container3{
    width: 40%;
    font-size: 20px;
    order: -1;
    font-weight: b;
}





footer{
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}


.footer-text p{
        padding: 0;
        margin: 0;
        color: #e68dba;
}


.content-container2 .map h1
{
    font-size: 30px;
    margin-top: 0;
}

.content-container2 .map{
    padding-bottom: 100px;
}




.content-container2 .text-container2 h1{
    margin-top: 0;
}


.content-container2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

}

section .text-container2{
    margin-right: 5%;
    font-size: 20px;
    order: -1;
}





  .register-button{
      margin-top: 10%;
        margin-bottom: 10%;
      display: flex;
      justify-content: center;
  }


  .products{
    padding-top: 50px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   transition: 0.3s;
   margin-left: auto;
   margin-right: auto;
}




  .product-item {
    
    height: 440px;
    width: 300px;
    text-align: center;
    margin: 30px 30px;
    background: white;
    font-family: 'Montserrat', sans-serif;
    transition: .3s ease-in;
    margin-bottom: 2%;
 }



 .product-item img {
    display: block;
    width: 100%;
 }
 .product-list {
    background: #fafafa;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
 }
 .price {
    font-size: 18px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
 }
 .product-item .button:hover {
    background: #fc5a5a;
 }



 .postcard {
    max-width: 350px;
    padding: 20px;
    background: #fffdee;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(135deg, #C42061, #C42061 10px, transparent 10px, transparent 20px, #FBCFDF 20px, #FBCFDF 30px, transparent 30px, transparent 40px);
    font-family: 'Montserrat', sans-serif;
    color: #605756;
 }
 .form-row {
    margin-bottom: 15px;
 }
 .form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
    width: 100%;
    padding: 0 10px;
    line-height: 35px;
    border-width: 0;
    outline: none;
    background-color: #faf3c0a1;
    background-size: 8px 35px;
    font-family: 'Montserrat', sans-serif;
 }
 .form-row textarea {
    background-attachment: local;
    background-repeat: repeat;
    resize: none;
 }
 .form-row input[type="submit"], .form-row input[type="close"] {
    padding: 10px 20px;
    margin-top: 10px;
    background: #F67CA5;
    border-width: 0;
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fffdee;
    text-transform: uppercase;
    transition: 1s cubic-bezier(.165, .84, .44, 1);
 }

 
 .form-row input[type=submit]:hover {
    background: #C42061;
 }

.feedback-header{
    margin-left: 16px;
}


.feedback-container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 16px;
}

.feedback-container::after {
    content: "";
    clear: both;
    display: table;
}


.feedback-container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}


.feedback-container span {
    font-size: 20px;
    margin-right: 15px;
}



dialog{
    border: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}


dialog #close{
    display: flex;
    justify-content: end;
}

dialog p:visited{
    color: black;
}

button{
    cursor: pointer;
    border: 0;
}


.gradient-button {
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
  }
  .gradient-button:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
  }



  .pricing{
      margin-top: 5%;
      text-align: start;
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin: 5% 5%;
      
      
  }



  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 1px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
 

  .pricing table thead tr p{
      text-align: start;
  }


 .pricing table{
     width: 600px;
 }

 
 @media (max-width: 900px)
 {
     .content-container3{
         margin-top: 5%;
         flex-direction: column;
     }
 
     .content-container3 img{
         display: none;
         transition: 0.3 ease-in;
     }
 
     
 }


 
@media (max-width: 500px) {
    .feedback-container {
      text-align: center;
    }
  
    .feedback-container img {
      margin: auto;
      float: none;
      display: block;
    }
  }


  @media (max-width: 856px) {
    .content-container2{
        flex-direction: column;
        padding: 5% 5%;
        transition: 0.3 ease-in;
    }
  }

  @media (max-width:550px) {
    .content-container2 .map {
        display: none;
    }
    
}
  


@media (max-width: 900px)
{
    .content-container{
        margin-top: 5%;
        flex-direction: column;
        transition: 0.3 ease-in;

    }
    .content-container img{
        display: none;
        transition: 0.3 ease-in;

    }

    section .text-container{
        width: 70%;
    }

    section .text-container3{
        width: 70%;
    }
}